<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Patient</h1>
    <form action="/patient" method="POST">
        <div>
            <label for="">Enter Full Name</label>
            <input type="text" name="fullName" id="">
        </div>
        <div>
            <label for="">Enter Date of Birth</label>
            <input type="date" name="dateOfBirth" id="">
        </div>
        <div>
            <label for="">Enter Gender</label>
            <input type="text" name="gender" id="">
        </div>
        <div>
            <label for="">Enter Blood group</label>
            <input type="text" name="bloodGroup" id="">
        </div>
        <div>
            <label for="">Enter Location</label>
            <input type="text" name="location" id="">
        </div>
        <button>submit</button>
    </form>
</body>

</html>