<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sign In</h1>
    <form action="/signin" method="POST">
        <div>
            <label>Enter Email</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label>Enter password</label>
            <input type="password" name="password" />
        </div>
        <button>Submit</button>
    </form>
    <div>
        <a href="/signup">sign up</a>
    </div>
    <div>
        <a href="/auth/google">sign in with google</a>
    </div>
    <div>
        <a href="/auth/facebook">sign in with facebook</a>
    </div>
</body>

</html>