<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        <label>Enter name</label>
        <input name="name" />
        <label>Enter Email or Phone</label>
        <input name="email" />
        <button>submit</button>
    </form>
    <div>
        <a href="/auth/google">Sign up with google</a>
    </div>
    <div>
        <a href="/signin">sign in</a>
    </div>

</body>

</html>